@import 'src/styles/variables.scss';

// header.module.scss

.header_inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px 0;
}

// .header {
//   width: 100%;
//   position: absolute;
//   z-index: 1000;
//   top: 0;
//   left: 0;
//   background-color: #fff;
//   transition: all 0.3s ease;
// }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 1s ease; /* Add a transition property */

  &.fixed {
    transform: translateY(0%);
  }

  &.slideIn {
    transform: translateY(0);
  }
}

.fixed {
  position: fixed;
  background-color: white;
  z-index: 9999;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 16.5px 30px 0px #3131311a;
}

.slideIn {
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: $smDesktopWidth) {
  .header_inner {
    flex-direction: column;
  }

  .header {
    position: absolute;
  }
}

@media (max-width: $tableWidth) {
  .menu {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: $phoneWidth) {
  .logo {
    width: 150px;
    height: 100%;
  }
}
