@import 'src/styles/variables.scss';

.choose {
  max-width: 1280px;
  margin: 0 auto 100px;
}

.title {
  text-align: center;
}

.description {
  font-family: var(--font-mont);
  font-size: 18px;
  font-weight: 400;
  color: #2a2a2a;
  padding-bottom: 50px;
  line-height: 28px;
  letter-spacing: 0.015em;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: $smDesktopWidth) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $tableWidth) {
  .cards {
    grid-template-columns: auto;
  }
}
