@import 'src/styles/variables.scss';

.faq {
  background: #f5f5f5;
  padding: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
}

.title {
  text-align: center;
  padding-bottom: 60px;
}

@media (max-width: $tableWidth) {
  .faq {
    padding: 20px;
  }
}
