@import 'src/styles/variables.scss';

.mini {
  font-family: var(--font-general);
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: -0.02em;
  text-align: left;
}

.large {
  font-family: var(--font-general);
  color: #000;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
}

.medium {
  font-family: var(--font-general);
  color: #000;
  font-size: 50px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0em;
}

.small {
  font-family: var(--font-general);
  color: #000;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media (max-width: $phoneWidth) {
  .large {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .medium {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .small {
    font-size: 20px;
    line-height: 30px;
  }

  .mini {
    font-size: 20px;
    line-height: 30px;
  }
}
