@import 'src/styles/variables.scss';

.footer {
  display: flex;
  flex-direction: column;

  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.terms {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: var(--dark-blue);

  text-align: left;

  transition: color 0.2s ease;

  &:hover {
    color: var(--main-color);
  }
}

.border {
  width: 100%;
  margin: 30px 0;
  height: 1px;
  background-color: #c7c7c7;
}

.copyright {
  font-family: var(--font-mont);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #555555;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.meva {
  display: flex;
  align-items: center;
  gap: 16px;
}

.by {
  font-family: var(--font-mont);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #555555;
  a {
    font-family: var(--font-nunito);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #0ec0e8;
    letter-spacing: 0px;
    text-align: left;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-end;
}

.star_info {
  font-family: var(--font-mont);
  color: #555555;

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu_link {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: #000;
  text-align: left;

  transition: color 0.2s ease;

  &:hover {
    color: var(--main-color);
  }
}

.active {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  text-align: left;
  color: var(--main-color);
}

@media (max-width: $smDesktopWidth) {
  .logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rating {
    align-items: center;
  }

  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .bottom {
    flex-direction: column;
    gap: 40px;
  }

  .menu {
    flex-direction: column;
  }
}
