.menu_inner {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.menu_link {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: var(--dark-blue);

  text-align: left;

  transition: color 0.2s ease;

  &:hover {
    color: var(--main-color);
  }
}

.active {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: var(--dark-blue);

  text-align: left;
  color: var(--main-color);
}
