.menu_inner {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

// .panel {
//   position: absolute;
//   visibility: hidden;
//   opacity: 0;
//   transform: translateY(20px);
//   transition:
//     visibility 0s linear 0.5s,
//     opacity 0.5s linear,
//     transform 0.5s linear;
//   left: -50%;
//   top: 25px;
//   transition: max-height 0.3s ease-out;
//   z-index: 200;
// }

.menu_item {
  display: flex;
  align-items: center;
  gap: 3px;

  &:hover .sub_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.3s linear,
      transform 0.3s linear;
  }

  &:hover .sub_menu_once {
    visibility: visible;
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.3s linear,
      transform 0.3s linear;
  }
}

.category {
  font-family: var(--font-mont);
  color: #878787;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 10px;
  letter-spacing: 0.015em;
  text-align: left;
}

.menu_link {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: var(--dark-blue);

  text-align: left;

  transition: color 0.2s ease;

  &:hover {
    color: var(--main-color);
  }
}

.active {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  text-align: left;
  color: var(--main-color);
}

.sub_menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear,
    transform 0.5s linear;
  left: -50%;
  border-radius: 20px;
  width: 1280px;
  top: 25px;
  z-index: 200;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px #3131311a;

  padding: 30px;
  margin: 0;
  list-style-type: none;
  max-height: 1000px;
  transition: max-height 0.3s ease-out;
}

.sub_menu_once {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear,
    transform 0.5s linear;
  border-radius: 10px;
  left: 50px;
  top: 100%;
  z-index: 200;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px #3131311a;
  padding: 10px;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.icon {
  transition: transform 0.3s ease-out;
  &.rotate {
    transform: rotate(180deg);
  }
}

.sub_menu_item {
  a {
    font-family: var(--font-mont);
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: var(--dark-blue);

    text-align: left;

    transition: color 0.2s ease;

    &:hover {
      color: var(--main-color);
    }
  }
}

.sub_menu_services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
