@import 'src/styles/variables.scss';

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.bar {
  height: 2px;
  width: 25px;
  background-color: var(--main-color);

  transition: all 0.3s ease;
}

.change:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change:nth-child(2) {
  opacity: 0;
}

.change:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav.show {
  display: block;
  transform: translateX(0);
}

.category {
  font-family: var(--font-mont);
  color: #878787;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 10px;
  letter-spacing: 0.015em;
  text-align: left;
}
.menu_inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu_link {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  color: var(--dark-blue);

  text-align: left;

  transition: color 0.2s ease;

  &:hover {
    color: var(--main-color);
  }
}

.active {
  font-family: var(--font-general);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.015em;
  text-align: left;
  color: var(--main-color);
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 2000;
}

.menu_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.service_category {
  font-family: var(--font-mont);
  color: #878787;
  font-size: 20px;
  padding: 15px 0;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.015em;
  text-align: left;
}

.sub_menu_item {
  a {
    font-family: var(--font-mont);
    color: #000;

    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.015em;
    text-align: left;
  }
}

.sub_menu_services {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: $smDesktopWidth) {
  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
}
