@import 'src/styles/variables.scss';

.cards {
  gap: 20px;
}

.column {
  display: grid;
  grid-template-columns: 1fr;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.name {
  font-family: var(--font-mont);
  color: #878787;
  font-size: 25px;
  font-weight: 700;
  line-height: 39px;
  padding: 30px 0;
  letter-spacing: 0.015em;
}

@media (max-width: $smDesktopWidth) {
  .row {
    grid-template-columns: auto;
  }
}

@media (max-width: $phoneWidth) {
  .row {
    grid-template-columns: auto;
  }
}
