@import 'src/styles/variables.scss';

.section {
  margin-top: 200px;
  margin-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.image_inner {
  position: relative;
}

.image {
  border-radius: 20px;
}

.titles {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

.btn {
  margin-top: 20px;
}

.btn {
  border: none;
  outline: none;
  padding-top: 10px;
}

.btn_link {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-general);
  color: #000;
  gap: 5px;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.02em;
  text-align: left;
}

.svg {
  transform: rotate(-180deg);
  position: relative;
  top: -3px;
}

@media (max-width: $smDesktopWidth) {
  .section {
    margin-bottom: 50px;
  }

  .titles {
    left: 5px;
  }

  .image {
    width: 100%;
    object-fit: cover;
  }
}

.buttonBack {
  background: transparent;
}

@media (max-width: $desktopWidth) {
  .section {
    margin-top: 100px;
  }

  .image {
    width: 100%;
    object-fit: cover;
  }

  .btn_link {
    gap: 30px;
    align-items: center;
  }

  .titles {
    left: 50%;
    transform: translate(-50%, -40%);

    h4,
    h1 {
      text-align: center;
    }
  }
}

@media (max-width: $tableWidth) {
  .section {
    margin-top: 100px;
  }

  .btn_link {
    gap: 30px;
    align-items: center;
  }

  .titles {
    left: 50%;
    transform: translate(-50%, -50%);

    h4,
    h1 {
      text-align: center;
    }
  }
}
