.section {
  margin-top: 200px;
  margin-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.image_inner {
  position: relative;
}

.image {
  border-radius: 20px;
}

.titles {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}

.btn {
  margin-top: 20px;
}

.btn {
  border: none;
  outline: none;
  padding-top: 10px;
  background: transparent;
}

.btn_link {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-general);
  color: #000;
  gap: 5px;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.02em;
  text-align: left;
}

.svg {
  transform: rotate(-180deg);
  position: relative;
  top: -3px;
}
