@import 'src/styles/variables.scss';

.video_background {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: -1;
  justify-content: center;
}

.video {
  min-width: 100%;
  object-fit: cover;
  min-height: 650px;
}

@media (max-width: $phoneWidth) {
  .video_background {
    padding: 0 20px;
    z-index: 1;
  }

  .video {
    border-radius: 20px;
  }
}
